.card-wrapper {
  width: 60vw;
  height-min: 100%;
  margin: 0 20vw;
  display: flex;
  flex-wrap: wrap;
}
.card {
  height: 320px;
  width: 320px;
  background: white;
  margin: 20px;
  z-index: 3;
  background: white;
  border: 10px solid white;
  box-shadow: 0 0 5px lightgrey;
  h5 {
    margin: 0;
  }
}

.card:hover {
  box-shadow: 0 0 40px lightgrey;
}

.card-grid {
  display: grid;
  grid-template-rows: 200px 2fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.card-img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.card-name {
  grid-row: 2;
  grid-column: 1 / span 2;
  text-align: center;
  font-size: 30px !important;
}

.card-amount {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
  h5 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 30px;
  }
}

// .card-hover {
//   top: 0px;
//   bottom: 0px;
//   left: 0px;
//   right: 0px;
//   z-index: 100;
//   :hover{
//     background: rgba(10, 10, 10, 0.5);
//   }
// }
